[Unit]
Description=Hello Go server
After=network.target

[Service]
ExecStart=/var/www/hello/hello
WorkingDirectory=/var/www/hello
Restart=always
User=maxim
Group=maxim

[Install]
WantedBy=multi-user.target
